[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-crispy-forms = "*"
requests = "*"
django-celery = "*"
redis = "==2.10.3"

[requires]
python_version = "3.7"
