<!doctype html>
<html lang="es">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'logocabliflet.png' %}" type="image/png" />
    <link rel="shortcut icon" href="{% static 'logocabliflet.png' %}" type="image/png" />

    <meta name="author" content="Yoandre Saavedra Gonzalez">
    <meta name="keywords" content="">


    <title>Reporte</title>

    <link href="{% static 'assets/css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'assets/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'assets/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" media="all">
  
    
    {% block styles %}     
    {% endblock styles %}      
  </head>
  <body >
    <div class="page-wrapper">
    
      {% block header %}
        <section id="header">
          {% include '__header_movil.html' %}
        </section>
      {% endblock header %}

    
      {% block sidebar %}
        {% include '__sidebar_menu.html' %}
      {% endblock sidebar %}
      
      <!-- PAGE CONTAINER-->
      <div class="page-container">
          
          {% block header_desktop %}
            {% include '__header_desktop.html' %}
          {% endblock header_desktop %}

          <div class="main-content">
              <div class="section__content section__content--p30">
                  <div class="container-fluid">
                    {% block content %}
                      <!--ADD TEMPLATE CONTENT HERE-->
                    {% endblock %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright &copy; {% now 'Y' %} Bananolabs. All rights reserved. <a href="#">Subir</a></p>
                            </div>
                        </div>
                    </div>

                  </div>
              </div>
          </div>
      </div>
  
  </div><!--END page-wrapper-->
      
      <!-- Jquery JS-->
      <script src="{% static '/assets/vendor/jquery-3.2.1.min.js' %}"></script>
      <!-- Bootstrap JS-->
      <script src="{% static '/assets/vendor/bootstrap-4.1/popper.min.js' %}"></script>
      <script src="{% static '/assets/vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
      <!-- Vendor JS       -->
      <script src="{% static '/assets/vendor/slick/slick.min.js' %}"></script>
      <script src="{% static '/assets/vendor/wow/wow.min.js' %}"></script>
      <script src="{% static '/assets/vendor/animsition/animsition.min.js' %}"></script>
      <script src="{% static '/assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
      <script src="{% static '/assets/vendor/counter-up/jquery.waypoints.min.js' %}"></script>
      <script src="{% static '/assets/vendor/counter-up/jquery.counterup.min.js' %}"></script>
      <script src="{% static '/assets/vendor/circle-progress/circle-progress.min.js' %}"></script>
      <script src="{% static '/assets/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
      <script src="{% static '/assets/vendor/chartjs/Chart.bundle.min.js' %}"></script>
      <script src="{% static '/assets/vendor/select2/select2.min.js' %}"></script>

      <!-- Main JS-->
      <script src="{% static '/assets/js/main.js' %}?v1"></script>
      
      {% block scripts %}       
      {% endblock scripts %}
        
  </body>
</html>