{% extends 'registration/__registration_base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Create User{% endblock title %}


{% block container %}
<div class="col-sm-6 offset-sm-3 text-center">
        <a href="{% url 'web_site:createreporte_page' %}">
                <img class="mb-4" src="{% static 'assets/image/cabifleet_all.png' %}" alt="" width="212" height="92">
            </a>
    <h3 class="display-5 pb-3">Crear Cuenta</h3>
    <div class="info-form">
        <form method="post" class="form-inlin justify-content-center" style="width: 340px;margin:0 auto">
                {% csrf_token %}
                {{ form|crispy }}
            
            <div class="text-center">
                <div class="g-recaptcha d-inline-block" data-sitekey="6Ld7hpcUAAAAAKBsJ1LeaQ6ulVsTsVEWtWbEDYh7"></div>
            </div>
            <button type="submit" class="btn btn-block btn-success ">Crear cuenta</button>
            <br>
            <p><a class="btn btn-sm btn-light"  href="{% url 'web_site:createreporte_page' %}">Regresar</a></p>
            
        </form>
    </div>
</div>
{% endblock container %}
    

{% block scripts %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    $( document ).ready(function() {
        $('#id_username').attr('placeholder', 'Usuario');
        $("#id_username").attr("required", true);
        //$("#id_username").addClass("sr-only");
        
        $('#id_email').attr('placeholder', 'Correo');
        $("#id_email").attr("required", true);
        
        $('#id_password1').attr('placeholder', 'Contraseña')
        $("#id_password1").attr("required", true);
        
        $('#id_password2').attr('placeholder', 'Repetir contraseña')
        $("#id_password2").attr("required", true);


        
        $('#hint_id_password1').addClass("d-none");

        $('#hint_id_username').removeClass("text-muted");
        $('#hint_id_username').addClass("text-white");

        $('#hint_id_password1').removeClass("text-muted");
        $('#hint_id_password1').addClass("text-white");

        $('#hint_id_email').removeClass("text-muted");
        $('#hint_id_email').addClass("text-white");

        $('#hint_id_password2').removeClass("text-muted");
        $('#hint_id_password2').addClass("text-white");
    });
</script>
{% endblock scripts %}
                  


