{% extends 'registration/__registration_base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Login{% endblock title %}
    

{% block container %}
<div class="col-sm-6 offset-sm-3 text-center">
    <a href="{% url 'web_site:createreporte_page' %}">
        <img class="mb-4" src="{% static 'assets/image/cabifleet_all.png' %}" alt="" width="212" height="92">
    </a>
    <h3 class="display-4 pb-3">Entrar</h3>
    <div class="info-form">
        <form method="post" class="form-inlin justify-content-center" style="width: 340px;margin:0 auto">
                {% csrf_token %}
                {{ form|crispy }}
            <button type="submit" class="btn btn-block btn-success">Entrar!</button>
            <br>
            <p><a class="btn btn-sm btn-light"  href="{% url 'password_reset' %}">Perdiste la contraseña?</a></p>
            <p><a class="btn btn-sm btn-light" href="{% url 'web_site:create_accounts_page' %}">Crear cuenta   </a></p>
        </form>
    </div>
</div>

{% endblock container %}


{% block scripts %}
<script>
    $( document ).ready(function() {
        $('#id_username').attr('placeholder', 'Usuario o Correo');
        $("#id_username").attr("required", true);
        //$("#id_username").addClass("sr-only");
        $('#id_password').attr('placeholder', 'Contraseña')
        $("#id_password").attr("required", true);
        
    });
</script>
{% endblock scripts %}
    