{% extends 'registration/__registration_base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Reset Password{% endblock title %}

{% block container %}
<div class="col-sm-6 offset-sm-3 text-center">
        <a href="{% url 'web_site:createreporte_page' %}">
            <img class="mb-4" src="{% static 'assets/image/cabifleet_all.png' %}" alt="" width="212" height="92">
        </a>
        <h4 class="display-5 pb-3">Se te olvidó tu contraseña</h4>
        <div class="info-form">
        <form method="post" class="form-inlin justify-content-center" style="width: 340px;margin:0 auto">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"  class="btn btn-block btn-success">Recuperar</button>
            <br>
         
            <p><a class="btn btn-sm btn-light"  href="{% url 'web_site:createreporte_page' %}">Regresar</a></p>
        </form>
    </div>
</div>
{% endblock container %}

{% block scripts %}
<script>
    $( document ).ready(function() {
        $('#id_email').attr('placeholder', 'Correo');
        $("#id_email").attr("required", true);
        $("#id_email").addClass("form-control");
    });
</script>
{% endblock scripts %}